{%- if section.settings.layout_hero == 'full-width' and section.settings.hero_height == "adapt" -%}
    {% if section.settings.image.aspect_ratio == blank %}
        {% assign min_aspect_ratio = 2.0 %}
    {% else %}
        {% assign min_aspect_ratio = section.settings.image.aspect_ratio %}
    {% endif %}
    {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
{% endif %}
{%- style -%}
    .hero--adapt{
      height: {{- wrapper_height -}}vw !important;
    }
{%- endstyle -%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
    .hero-container {
        max-width: 1200px;
        margin: 0 auto;
        font-family: Roboto;
    }
    .hero-layout{
        width: 100%;
        position: relative;
        height: 475px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%; 
    }
    .hero-overlay{
        position: relative;
    }
    .hero-overlay::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .1);
        z-index: 1;
    }
    .hero-fixed__content,
    .hero-inner{
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 2;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .hero-text__container{
        /* text-align: center; */
        padding: 0 20px;
        width: 50%;
    }
    .hero-title{
        color: #000;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 0px;
        font-family: Roboto;
    }
    .hero-text p{
        color: #000;
        font-size: 16px;
        margin-bottom: 20px;
        font-family: Roboto;
    }
    .hero--xs{
        height: 200px;
    }
    .hero--s{
        height: 320px;
    }
    .hero--m{
        height: 450px;
    }
    .hero--l{
        height: 550px;
    }
    .hero--xl{
        height: 680px;
    }

    .hero_btn-link{
        padding: 7px 22px;
        background-color: #222222;
    }
    
    @media only screen and (max-width: 1300px){
        .hero-container{
            padding: 0 20px;
        }
    }
    @media only screen and (max-width: 750px){
        .hero-text__container{
            text-align: center;
            padding: 0 20px;
            width: 100%;
        }
        .hero-title{
            font-size: 22px;
            margin-bottom: 8px;
        }
        .hero-text p{
            font-size: 16px;
        }
        .hero--xs{
            height: 200px;
        }
        .hero--s{
            height: 220px;
        }
        .hero--m{
            height: 330px;
        }
        .hero--l{
            height: 420px;
        }
        .hero--xl{
            height: 480px;
        }
    }
</style>

<div class="hero-section" data-section-id="{{ section.id }}" data-section-type="hero-section">
    {% if section.settings.layout_hero == 'fixed-width' %}
        <div class="hero-container">
    {% endif %}
    {% if section.settings.layout_hero == 'fixed-width' and section.settings.hero_height == "adapt" %}
        {% assign slide_width = 1090 %} 
        {% assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 %}
            <div class="hero-overlay hero--adapt" 
            data-layout="{{ section.settings.layout_hero }}">
            {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% if section.settings.image.width < max_width %}
                {% assign slide_width = section.settings.image.width %}
            {% endif %}
            {% if section.settings.align_content == 'center' %}
                {%- style -%}
                    .hero-fixed__content,
                    .hero-inner{
                        justify-content: center;
                    }
                {%- endstyle -%}
            {% elsif section.settings.align_content == 'left' %}
                {%- style -%}
                    .hero-fixed__content,
                    .hero-inner{
                        justify-content: flex-start;
                    }
                {%- endstyle -%}
            {% else %}
                {%- style -%}
                    .hero-fixed__content,
                    .hero-inner{
                        justify-content: flex-end;
                    }
                {%- endstyle -%}
            {% endif %}

            {% if section.settings.align_text == 'center' %}
                {%- style -%}
                    .hero-text__container{
                        text-align: center;
                    }
                {%- endstyle -%}
            {% elsif section.settings.align_text == 'left' %}
                {%- style -%}
                    .hero-text__container{
                        text-align: left;
                    }
                {%- endstyle -%}
            {% else %}
                {%- style -%}
                    .hero-text__container{
                        text-align: right;
                    }
                {%- endstyle -%}
            {% endif %}
                <div class="hero-fixed__content">
                    <div class="hero-text__container">
                        {% if section.settings.title != blank %}
                            <h2 class="hero-title">
                                {{section.settings.title | escape}}
                            </h2>
                        {% endif %}
                        {% if section.settings.text != blank %}
                        <div class="hero-text">
                            {{section.settings.text}}
                        </div>
                        {% endif %}
                        {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
                            <a href="{{section.settings.btn_link}}" class="btn hero_btn-link">
                                {{ section.settings.btn_label | escape }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if section.settings.image != blank %}
                    <img class="hero-fixed-width__image lazyload lazypreload"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                         data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                         data-sizes="auto"
                         style="{% if slide_width <= max_width %}
                                    {% assign min_width = slide_width | times: 100 | devided_by: max_width %}
                                    min-width: {{ min_width }}%;
                                {% endif %}
                                object-position: {{ section.settings.align }};"
                         alt="{{ section.settings.image.alt | escape }}">
                {% else %}
                    <span>
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </span>
                {% endif %}
            </div>
    {% else %}
    <div class="hero-layout hero--{{ section.settings.hero_height }} lazyload {% if section.settings.title != blank or section.settings.text != blank or section.settings.btn_label != blank %} hero-overlay {% endif %}"
         data-layout="{{ section.settings.layout_hero }}"
         {%- if section.settings.image -%}
            {% unless section.settings.image.alt == blank %}
            role="img"
            aria-label="{{ section.settings.image.alt | escape }}"
            data-alt="{{ section.settings.image.alt | escape }}"
            {% endunless %}
         data-bg="{{ section.settings.image | img_url: '300x300' }}"
         data-bgset="{% include 'bgset', image: section.settings.image %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-position: {{ section.settings.align }};"
         data-image-loading-animation
        {%- endif -%}>
        {%- if section.settings.image == blank -%}
            <div class="placeholder-background">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
        {%- endif -%}
        {% if section.settings.align_content == 'center' %}
            {%- style -%}
                .hero-fixed__content,
                .hero-inner{
                    justify-content: center;
                }
            {%- endstyle -%}
        {% elsif section.settings.align_content == 'left' %}
            {%- style -%}
                .hero-fixed__content,
                .hero-inner{
                    justify-content: flex-start;
                }
            {%- endstyle -%}
        {% else %}
            {%- style -%}
                .hero-fixed__content,
                .hero-inner{
                    justify-content: flex-end;
                }
            {%- endstyle -%}
        {% endif %}

        {% if section.settings.align_text == 'center' %}
            {%- style -%}
                .hero-text__container{
                    text-align: center;
                }
            {%- endstyle -%}
        {% elsif section.settings.align_text == 'left' %}
            {%- style -%}
                .hero-text__container{
                    text-align: left;
                }
            {%- endstyle -%}
        {% else %}
            {%- style -%}
                .hero-text__container{
                    text-align: right;
                }
            {%- endstyle -%}
        {% endif %}
        <div class="hero-inner">
            <div class="hero-text__container">
                    {% if section.settings.title != blank %}
                        <h2 class="hero-title">
                            {{section.settings.title | escape}}
                        </h2>
                    {% endif %}
                    {% if section.settings.text != blank %}
                    <div class="hero-text">
                        {{section.settings.text}}
                    </div>
                    {% endif %}
                    {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
                        <a href="{{section.settings.btn_link}}" class="btn hero_btn-link">
                            {{ section.settings.btn_label | escape }}
                        </a>
                    {% endif %}
            </div>
        </div>
    </div>  
    <noscript>
    <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %}{% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"{% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
    </noscript>
    {% endif %}
    {% if section.settings.layout_hero == 'fixed-width' %}
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": {
        "en": "My image text overlay"
    },
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": {
                "en": "Image"
            }
        },
        {
            "type": "select",
            "id": "align",
            "label": {
                "en": "Image alignment"
            },
            "default": "center",
            "options": [
                {
                    "value": "top",
                    "label": {
                        "en": "Top"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en" : "Center"
                    }
                },
                {
                    "value": "bottom",
                    "label": {
                        "en": "Bottom"
                    }
                }
            ]
        },
        {
            "type": "select",
            "id": "layout_hero",
            "label": {
                "en": "Layout"
            },
            "default": "fixed-width",
            "options": [
                {   
                    "value": "full-width",
                    "label": {
                        "en": "Full width"
                    }
                },
                {
                    "value": "fixed-width",
                    "label": {
                        "en": "Fixed width"
                    }
                }
            ]
        },
        {
            "type": "select",
            "id": "hero_height",
            "label": {
                "en": "Section height"
            },
            "default": "adapt",
            "options": [
                {
                    "value": "adapt",
                    "label": {
                        "en": "Adapt to image"
                    }
                },
                {
                    "value": "xs",
                    "label": {
                        "en": "Extra small"
                    }
                },
                {
                    "value": "s",
                    "label": {
                        "en": "Small"
                    }
                },
                {
                    "value": "m",
                    "label": {
                        "en": "Medium"
                    }
                },
                {
                    "value": "l",
                    "label": {
                        "en": "Large"
                    }
                },
                {
                    "value": "xl",
                    "label": {
                        "en": "Extra large"
                    }
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": {
                "en": "Get extra 30% off"
            },
            "label": {
                "en": "Heading"
            }
        },
        {
            "type": "richtext",
            "id": "text",
            "label": {
                "en": "Text"
            },
            "default": {
                "en": "<p>Don't miss our need-it-now edit - these styles won't hang around long!</p>"
            }
        },
        {
            "type": "radio",
            "id": "align_text",
            "label": {
                "en": "Text align"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right"
                    }
                }
            ]
        },
        {
            "type": "radio",
            "id": "align_content",
            "label": {
                "en": "Content align"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right"
                    }
                }
            ]
        },
        {
            "type": "text",
            "id": "btn_label",
            "label": {
                "en": "Button label"
            }
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": {
                "en": "Button link"
            }
        }
    ],

    "presets": [
        {
            "name": {
                "en": "My image with text overlay"
            },
            "category": {
                "en": "Image"
            }
        }
    ]
}

{% endschema %}
